* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.no-copy {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
  }

h1{
    font-family: 'Quicksand';
}

/* Configurações para a seção 1 */
.link-bar {
    background-color: #010E26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 129px;
}

#logo-container {
    position: absolute;
    left: 250px;
    width: 230px;
}

#logo-container img {
    width: 76px;
    height: 73px;
}

#text-logo-right {
    color: white;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

#container-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 33%;
}

#container-links li {
    display: inline-block;
    position: relative;
}

#container-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* acertar dropdown */

#dropdown-acess{
    background-color: #010E26;
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translateX(-50%);
    width: 217px;
    height: 263;
    border-radius: 5px;
    right: 70px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.list-acess-style {
    padding: 20px;
}

.list-dropdown-acess {
    display: flex;
    flex-direction: column;
}

.list-dropdown-acess li {
    text-align: center;
}

.item-2-3-acess {
    margin-top: 25px;
}

.line-white {
    margin-top: 20px;
    align-self: center;
    width: 170px;
}

#dropdown-acess.show {
    display: flex;
}

/*configuração do body*/

#image-background #fundo-opaco{
    width: 100%;
    height: 830px;
    position: absolute;
    z-index: 1;
    background-color: #162658;  
    opacity: 55%;
}

#image-background img{
    position: absolute;
    z-index: 0; 
    width: 100%;
    height: 830px;
    object-fit: cover;
}

.section-1{
    z-index: 5;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-1 #section-1-phrase{
    font-family: 'Quicksand';
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}


.section-1 h1{
    text-align: center;
    color: white;
    font-size: 53px;
    margin-top: 40px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.section-1 p{
    margin-top: 40px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
} 

.contariner-buttons-section-1{
    width: 597px;
    height: 81px;
    z-index: 90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 40px;
}

.contariner-buttons-section-1 #inscricao{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #657AEF;
    width: 287px;
    height: 81px;
    border-radius: 15px;
    color: white;
    font-size: 32px;
    font-weight: bold;
}

#inscricao::after {
    content: "";
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../images/seta-direita.png');
    background-size: cover;
}

#editais::after {
    content: "";
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../images/seta-direita.png');
    background-size: cover;
}

.contariner-buttons-section-1 #editais{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    width: 287px;
    height: 81px;
    border-radius: 15px;
    color: black;
    font-size: 32px;
    font-weight: 500;
    margin-left: 20px;
}